.register {
  padding-top: 88px;
  color: $font-middle-grey;

  .tips {
    font-size: 26px;
    text-indent: 30px;
  }

  nb-list-item {
    input {
      font-size: 32px;
      padding: 0;
    }
  }

  .verify {
    padding-right: 50px;
    .btn {
      font-size: 28px;
      text-align: right;
    }
  }
  
  .help {
    margin: 20px 30px 40px;
    font-size: 26px;
    
    .tel {
      color: $brand-primary-color;
    }
  }

  .btn {
    font-size: 36px;
  }

  .link {
    font-size: 32px;
    text-align: center;
    margin-top: 40px;
  }
  
  .btn-space {
    text-align: center;
    &.password {
      margin: 60px auto 0 auto;
    }
  }

}